<footer class="footer bg-dark text-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="mailto:contact@thedigitalagency.london" class="text-white">
          conatct@thedigitalagency.london
        </a>
        <br />
        <p class="mb-0">0208 133 3306</p>
        <p class="mb-0">4 Old Park Lane, Mayfair, London, W1K 1QW</p>
        <ul class="social-list">
          <li *ngFor="let link of socialLinks">
            <a href="{{ link.link }}">
              <i class="{{ link.icon }}"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-primary py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-dark">
          ©2020 by The Digital Agency
        </div>
      </div>
    </div>
  </div>
</footer>
