<header class="bg-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-sm-flex text-center text-sm-left align-items-center">
          <a class="navbar-brand" href="#">
            <img
              src="http://thedigitalagency.london/media/1067/logo-vh.png"
              alt=""
              class="d-block"
              height="40"
            />
          </a>
          <div class="logo-text text-white">
            <h1 class="h4 mb-0">The Digital Agency</h1>
            <small>Creative minds with technology experts</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block text-white text-right">
        <small>contact@thedigitalagency.london</small> <br />
        <small>0208 133 3306 </small>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-md navbar-light bg-white py-0">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">What we do </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/our-clients">Our clients</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/who-are-we">Who we are</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact-us">Contact us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let link of socialLinks">
          <a href="{{ link.link }}" class="nav-link">
            <img src="{{ link.image }}" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
