<div
  class="jumbotron jumbotron-fluid d-flex align-items-center text-center jumbotron-bg"
>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="sub-heading">Website Design Process</h1>
        <p>Crafting visually stunning memorable experiences</p>
      </div>
    </div>
  </div>
</div>

<section class="py-5 bg-dark text-white">
  <div class="container">
    <div *ngFor="let app of processes; index as i">
      <app-single-creative-app-item
        [app]="app"
        [index]="i"
      ></app-single-creative-app-item>
    </div>
  </div>
</section>
