.about-section {
  background: url(http://thedigitalagency.london/media/1031/who-we-are.png)
    center bottom no-repeat;
  .container {
    padding-bottom: 470px;
    background-size: contain;
  }
}
