<header class="header">
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source
      src="http://thedigitalagency.london/images/file.mp4"
      type="video/mp4"
    />
    <source
      src="http://thedigitalagency.london/images/file.webm"
      type="video/webm"
    />
  </video>
  <div class="container h-100">
    <div class="row align-items-center">
      <div class="col-md-10 offset-md-1">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white mt-5">
            <h1
              class="display-4"
              style="font-size: 80px; font-weight: bold; line-height: 80px;"
            >
              Move Forward with<br />
              The Digital Agency
            </h1>
            <h6 class="mb-0" style="font-size: 24px; font-weight: bold;">
              Expert Strategists Who Deliver
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section py-5 bg-primary text-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="sub-heading">Services We Offer</h1>
        <h2 class="sub-tagline">
          Beautiful, engaging digital experiences
        </h2>
        <p>
          Not every Creative Agency is created equal. At The Digital Agency, we
          know that the best results come from having the right people working
          on the right project. Our team offers expertise in various areas of
          Creative Agency services, which is why each client is matched with a
          suitable group of experts to help them achieve their goals. With our
          proven strategies, your business is bound for wild success.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section py-5 services bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" *ngFor="let service of services">
        <app-single-service [service]="service"></app-single-service>
      </div>
    </div>
  </div>
</section>

<section class="section subscription py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p class="mb-0">Subscribe</p>
        <p class="mb-0">Stay up to date</p>
        <div class="form-group">
          <input
            class="form-control form-control-minimal"
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required="required"
          />
        </div>

        <button class="btn btn-primary text-dark btn-block">Subscribe</button>
      </div>
    </div>
  </div>
</section>
