.marketing-bg {
    background-image: url(http://thedigitalagency.london/media/1041/innerbanner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    color: #ffffff;
}

.jumbotron{
    margin-bottom: 0px;
}