/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$theme-colors: (
  "primary": #f270b6,
  "danger": #ff4136,
  "dark": #232323,
);

$btn-border-radius: 0;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Livvic:ital,wght@1,600&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;

@import "~bootstrap/scss/bootstrap";

h1,h2,h3,h4,h5,h6 {
  font-family : 'Livvic', sans-serif;
}

img {
  max-width: 100%;
}

