/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$theme-colors: (
  "primary": #f270b6,
  "danger": #ff4136,
  "dark": #232323,
);

$btn-border-radius: 0;
@import url("//db.onlinewebfonts.com/c/592d7d249c34da18d3a6fea41e031cfe?family=BreeW01-ThinOblique");
@import url("//db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light");

$font-family-sans-serif: "Avenir Light", sans-serif;

@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BreeW01-ThinOblique", sans-serif;
}

img {
  max-width: 100%;
}

.service-img {
  max-width: 325px;
}
.form-control-minimal {
  background: transparent;
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid #000000 !important;
  padding-left: 0 !important;
}

::placeholder {
  color: #000000 !important;
}
.navbar-toggler {
  padding: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  span {
    transform: scale(0.8);
  }
}

.jumbotron {
  margin-bottom: 0px !important;
}

.jumbotron-bg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  color: #ffffff;
}

.sub-heading {
  font-size: 48px;
  font-weight: bold;
}

.sub-tagline {
  font-size: 36px;
  font-weight: 300;
}

//icon-fonts

@font-face {
  font-family: "social-icons";
  src: url("./assets/fonts/social-icons.eot?bt3q5l");
  src: url("./assets/fonts/social-icons.eot?bt3q5l#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/social-icons.ttf?bt3q5l") format("truetype"),
    url("./assets/fonts/social-icons.woff?bt3q5l") format("woff"),
    url("./assets/fonts/social-icons.svg?bt3q5l#social-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "social-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-facebook:before {
  content: "\ea90";
}
.si-instagram:before {
  content: "\ea92";
}
.si-twitter:before {
  content: "\ea96";
}
.si-youtube:before {
  content: "\ea9d";
}
